.CompactSongTable {
  overflow-y: auto;
  height: 100%;

  table {
    width: 100%;
  }

  tbody tr {
    cursor: pointer;

    &:hover {
      background: #f5f5f5;
    }
  }

  .CompactSongTable-row--selected {
    background: #43423c;
    color: #fff;
    font-weight: 600;
  }
}
