.CompactSongTable {
  overflow-y: auto;
  height: 100%;

  table {
    width: 100%;
    border-collapse: collapse;
  }

  th, td {
    border: none;
  }

  tbody tr {
    cursor: pointer;

    &:hover {
      background: #43423c;
      color: #fff;
    }
  }

  .CompactSongTable-row--selected {
    background: #43423c;
    color: orange;
    font-weight: 600;
  }
}
