.sources-icons {
  display: flex;
  gap: 0.5em;
  align-items: center;
  justify-content: center;

  .icon-wrapper {
    display: inline-block;
    cursor: help;
  }

  .cloud--filled svg {
    fill: currentColor;
  }

  .cloud--outline svg {
    opacity: 0.55;
  }
}
