.GenreDetail {
  padding: 0.25em;
  max-width: 1200px;
  margin: 0 auto;

  table {
    th, td {
      &.col-sources {
        width: 80px;
        text-align: center;
      }
    }
  }
}

.genres-cell {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}
